.settings
bin
output
update-main/plugins/
update-main/features/
update-main/artifacts.jar
update-main/content.jar
update-main/logs.zip
update-experimental/plugins/
update-experimental/features/
update-experimental/artifacts.jar
update-experimental/content.jar
update-experimental/logs.zip
update-devel/plugins/
update-devel/features/
update-devel/artifacts.jar
update-devel/content.jar
update-devel/logs.zip